/*-------------------- GENERALES ------------------------*/
    html{
        scroll-behavior: smooth;
    }
    /*navbar*/
    .navbar__hamburguer--color{background-color: #ffa200; border-color: 1px 1px 1px 1px white;}
    .header__logo{width: 100px;}
    .header .navbar {position: sticky; background:transparent !important;}
    .header__navbar{
        font-family:'Montserrat', sans-serif;
        color: rgb(44, 44, 143);
        font-size: 18px;
        text-shadow: 1px 1px 1px white;
        font-weight: bold;
        padding-left: 37vh;
        transform: scale(1s);
    }
    .header__navbar:hover{
        text-shadow: 1px 1px 10px rgba(129, 192, 129, 0.514);
        color: rgb(12, 12, 145);
        cursor: pointer;
    }
    .header {
        min-height: 1vh;
    }
    /*body background*/
    body{overflow-x: hidden;}
    #body-container{
        width: 100%;
        height: 100vh;
        background: url(../img/bg1.png) center center no-repeat;
        background-size: cover;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: auto;
    }
/* HOME - MOBILE */
    /*PREVIEW - PRODUCTS mobile*/
    .cloud-text {
        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;	
        background-image: url(../img/titlebc.png);
        background-size: auto;
        background-attachment: unset;
        background-position: 0%;
        animation: clouds-moving infinite 25s;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-timing-function: linear;
    }
    @keyframes clouds-moving {
        0% {
            background-position: 0%;	
        }
        50% {
            background-position: 100%;	
        }
        100% {
            background-position: 0%;
        }
    }
    .attribute {font-size: 26px;text-align: center;}
    .preview__title{
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 6vh;
        font-size: 36px;
        font-weight: bolder;
    }
    .preview__subtitle{
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        font-size: 19px;
        margin-top: 3vh;
        margin-right: 2vh;
        margin-bottom: 7vh;
        margin-left: 2vh;
        font-weight: bolder;
    }
    .preview__slogan{
        color: rgb(36, 36, 116);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        margin-top: 15vh;
        margin-right: 5vh;
        margin-left: 5vh;
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 20px 20px 20px 20px;
        text-shadow: 1px 1px 2px white;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
    }
    .grid > article {
        border: 1px solid white;
        box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
        background: rgba(255, 255, 255, 0.329);
    }
    .grid > article:hover {
        border: 2px solid #A5CF61;
        box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3)}
    .grid > article img {
        max-width: 100%; transition: 1s;}
    .grid .text {
        padding: 20px;
        text-align: center;}
    .grid .text h3 {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        color: green;
        font-weight: bolder;
        text-shadow: 1px 1px 2px white;
    }
    .grid .text p {
        font-size: 1.0rem;
        font-family: 'Montserrat', sans-serif;
        color: green;
        text-shadow: 1px 1px 2px white;
        font-weight: bolder;
    }
    .grid .text p a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 1px black;
    }
    .preview__button{
        width:20vh;
        background: #ffa000;
        border-color:  #ffa000;
    }
    .preview__button:hover{
        background: #da9217;
        width:20vh;
    }
    /*testimonios*/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .wrapper {
        background-color: white;
        max-width: 700px;
        margin: 100px auto;
        padding: 110px 120px;
    }
    .wrapper .content {
        padding: 10px;
        cursor: pointer;
    }
    .testimonial {
        padding: 20px 40px;
        position: relative;
    }
    .fa-quote-left {
        position: absolute;
        top: -15px;
        left: -6px;
    }
    .fa-quote-right {
        position: absolute;
        bottom: -15px;
        right: -6px;
    }
    .employee {
        margin-bottom: 40px;
        padding-left: 30px;
        color: teal;
    }
    .testimonio__texto{
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    .testimonio__bg{ 
        background-color: #1D7151;
    }
    .carousel-indicators {
        bottom: -100px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        color: teal;
        background-color: #ffa000;
    }
    .text-mute {
        color: rgb(161, 161, 161);
    }
    @media(max-width:767px) {
        .wrapper {
            padding: 80px 50px;
            margin: 50px 10px;
        }
        .carousel-indicators {
            bottom: -80px;
        }
    }
    @media(max-width: 420px) {
        .wrapper {
            padding: 40px 20px;
        }
        .carousel-indicators {
            bottom: -45px;
        }
        .employee {
            margin-bottom: 40px;
            padding-left: 15px;
        }
    }

    /*caracteristicas*/
    .heartbeat
{
    -webkit-animation: heartbeat 8s;
            animation: heartbeat 8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@keyframes heartbeat
{
    0%, 20%, 40%, 60%, 80%, 100%
    {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90%
    {
        transform: scale(1.15);
    }
}
@-webkit-keyframes heartbeat
{
    0%, 20%, 40%, 60%, 80%, 100%
    {
        -webkit-transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90%
    {
        -webkit-transform: scale(1.15);
    }
}
    .fade-in-up
{
    -webkit-animation: fade-in-up 1s;
            animation: fade-in-up 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-up
{
    0%
    {
        -webkit-transform: translateY(100%);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0%);

        opacity: 1;
    }
}
@keyframes fade-in-up
{
    0%
    {
        transform: translateY(100%);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0%);

        opacity: 1;
    }
}
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            margin-top: 33vh;
            margin-bottom: 16vh;
            padding: 50px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 6px;
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
        }
        .caracteristicas__title{
            font-family: 'Cinzel Decorative', cursive;
            font-size: 25px;
            color: #1D7151;
            margin-bottom: 5vh;
        }
        .caracteristicas__name{
            font-size: 23px;
            color: green;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .caracteristicas__text{
            font-size: 14px;
        }
        .pro-button {
            padding: 12px 42px;
            background-color: #ffa000;
            border-color: #ffa000
        }

        .pro-button:focus {
            outline: none !important;
            background-color: #ffa000;
            border-color: #ffa000;
            box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important
        }

        .pro-button:active {
            outline: none !important;
            background-color: #ffa000 !important;
            border-color: #ffa000 !important
        }

        .pro-button:hover {
            padding: 12px 42px;
            background-color: #cea050;
            border-color: #f1a018
        }
    /*donde*/
    .slider__title{
        margin-top: 6vh;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 28px;
        color: green;
        text-shadow: 1px 1px 1px white;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);}
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }
    .slider {
        background:rgba(255, 255, 255, 0.473);
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 100px;
        margin-top: 2vh;
        margin-left: 1vh;
        overflow: hidden;
        position: relative;
        width: 96%;
    }
    .slider__empresas{
        margin-top: 2vh;
        width: 100px;
        height: 80px;
    }
    .slider::before, .slider::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.39) 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100px;
        position: absolute;
        width: 80px;
        z-index: 2;
    }
    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    .slider::before {
        left: 0;
        top: 0;
    }
    .slider .slide-track {
        animation: scroll 27s linear infinite;
        display: flex;
        width: calc(200px * 10);
    }
    .slider .slide {
        height: 100px;
        width: 150px;
    }
    
    /* FOOTER */
    .footer__nav{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
        text-align-last: center;
    }
    .footer__nav:hover{
        background: white;
        color: green;
        text-align-last: center;
        text-shadow: 1px 1px 1px rgba(0, 128, 0, 0.212);
        text-decoration: none;
    }
    .footer__icon{
        width: 38px;
    }
    .footer__icon:hover{
        background: green;
        border-radius: 20px 20px 20px 20px;
    }
    .footer__copyright{
        color: white;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
    }
    .footer__copyright:hover{
        background-color: white;
        text-shadow: 1px 1px 2px black;
        color: green;
    }
    .footer__social{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;}
/* ------------------------ HOME ---- TABLET -----------------------*/
@media screen and (min-width:768px) and (max-width: 1024px) {
/*HEADER - NAVBAR*/
    .header__logo{
        width: 100px;
    }
    .navbar__hamburguer--color{width: 100px;}
    .header__navbar{
        font-family:'Montserrat', sans-serif;
        color: rgb(44, 44, 143);
        font-size: 18px;
        text-shadow: 1px 1px 1px white;
        font-weight: bold;
        padding-left: 62vh;
        transform: scale(1s);
    }
/*PREVIEW - PRODUCTS*/
    .cloud-text {animation: clouds-moving infinite 10s;}
    .attribute {font-size: 80px;}
    .preview__title{font-size: 77px;}
    .preview__subtitle{
        font-size: 38px;
        margin-bottom: 8vh;
        font-weight: bold;
    }
    .preview__slogan{
        font-size: 25px;
        margin-top: 7vh;
        margin-right: 4vh;
        margin-left: 4vh;
    }

/*caracteristicas*/
    .card {
        margin-top: 16vh;
        margin-bottom: 16vh;
    }
    .caracteristicas__title{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 25px;
        color: #1D7151;
        margin-bottom: 5vh;
    }
    .caracteristicas__name{
        font-size: 22px;
        color: green;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold; 
        margin-bottom: 2vh;
    }
    .caracteristicas__text{
        font-size: 15px;
        text-align: justify;
    }
    .pro-button {
        padding: 12px 42px;
        background-color: #ffa000;
        border-color: #ffa000
    }

    .pro-button:focus {
        outline: none !important;
        background-color: #ffa000;
        border-color: #ffa000;
        box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important
    }

    .pro-button:active {
        outline: none !important;
        background-color: #ffa000 !important;
        border-color: #ffa000 !important
    }

    .pro-button:hover {
        padding: 12px 42px;
        background-color: #cea050;
        border-color: #f1a018
    }
/*donde estamos*/
    .slider {
        margin-left: 3vh;
        width: 92%;
    }
    .slider__empresas{
        margin-top: 1vh;
        width: 100px;
        height: 80px;
    }
/* FOOTER */
    .footer__social{
        font-size: 18px;
    }
    .footer__nav{
        font-size: 20px;
        margin-top: 3vh;
    }
}
/* ------------------------ HOME ---- DESKTOP -----------------------*/
@media screen and (min-width:1024px) {
    .navbar__hamburguer--color{width: 150px;}
    .header__logo{
        width: 130px;
    }
    .header__navbar{
        font-size: 25px;
    }
    .header__navbar:hover{
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 2px white;
    }
    /*PREVIEW - PRODUCTS*/
        .cloud-text {animation: clouds-moving infinite 30s;}
        .attribute {font-size: 0px;}
        .preview__title{
            font-size: 80px;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }
        .preview__subtitle{
            font-size: 37px;
            margin-bottom: 8vh;
            font-weight: bold;
        }
        .preview__slogan{
            font-size: 28px;
            margin-top: 8vh;
            margin-right: 4vh;
            margin-left: 4vh;
        }
    /*testimonios*/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .wrapper {
        margin-top: 16vh;
        max-width: 1100px;
    }
    .employee {
        margin-bottom: 40px;
        padding-left: 30px;
        color: teal;
        font-size: 30px;
    }
    .testimonio__texto{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 19px;
    }
    .testimonio__bg{ 
        background-color: #1D7151;
    }
    .carousel-indicators {
        bottom: -100px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        color: teal;
        background-color: #ffa000;
    }
    .text-mute {
        color: rgb(161, 161, 161);
    }
    /*caracteristicas*/
    .card {
        margin-top: 16vh;
        margin-bottom: 16vh;
    }
    .caracteristicas__title{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 27px;
        color: #1D7151;
        margin-bottom: 3vh;
    }
    .caracteristicas__name{
        font-size: 22px;
        color: green;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold; 
        margin-bottom: 2vh;
    }
    .caracteristicas__text{
        font-size: 17px;
        text-align: justify;
    }
    .pro-button {
        padding: 12px 42px;
        background-color: #ffa000;
        border-color: #ffa000;
        font-size: 19px;
    }
    .pro-button:focus {
        outline: none !important;
        background-color: #ffa000;
        border-color: #ffa000;
        box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important
    }
    .pro-button:active {
        outline: none !important;
        background-color: #ffa000 !important;
        border-color: #ffa000 !important
    }
    .pro-button:hover {
        padding: 12px 42px;
        background-color: #cea050;
        border-color: #f1a018
    }
        
    /*donde estamos*/
        .slider__title{
            font-size: 33px;
        }
        .slider {
            margin-left: 18vh;
            width: 77%;
        }
        .slider__empresas{
            margin-top: 1vh;
            width: 100px;
            height: 80px;
        }
    /* FOOTER */
    .footer__nav{
        color: white;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
        text-align-last: center;
    }
    .footer__nav:hover{
        background: white;
        color: green;
        text-align-last: center;
        text-shadow: 1px 1px 1px rgba(0, 128, 0, 0.212);
        text-decoration: none;
    }
    .footer__icon{
        width: 38px;
    }
    .footer__icon:hover{
        background: green;
        border-radius: 20px 20px 20px 20px;
    }
    .footer__copyright{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
    }
    .footer__copyright:hover{
        background-color: white;
        text-shadow: 1px 1px 1px white;
        color: green;
        font-size: 21px;
    }
    .footer__social{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        text-shadow: 1px 1px 4px black;
        font-weight: bold;}
}
/* ------------------------ HOME ---- DESKTOP -más grande-----------------------*/
@media screen and (min-width:1750px) {
    .header__logo{
        width: 105px;
        margin-left: 5vh;
    }
    .header__navbar{
        padding-left: 18vh;
        transition: 1s;
    }
    /*donde estamos*/
    .slider__title{
        font-size: 33px;
    }
    .slider {
        margin-left: 40vh;
        width: 59%;
    }
    .slider__empresas{
        margin-top: 1vh;
        width: 100px;
        height: 80px;
    }
}
/* ------------------------ HOME ---- DESKTOP -más grande-----------------------*/
@media screen and (min-width:1990px) {
    .header__logo{
        width: 105px;
        margin-left: 2vh;
    }
    .header__navbar{
        padding-left: 18vh;
        transition: 1s;
    }
    /*donde estamos*/
    .slider__title{
        font-size: 34px;
        margin-top: 8vh;
    }
    .slider {
        margin-left: 70vh;
        width: 47%;
        margin-bottom: 8vh;
    }
    .slider__empresas{
        margin-top: 1vh;
        width: 100px;
        height: 80px;
    }
}

/* NOSOTROS - mobile*/
.demo{ background-color:white; }
.main-timeline{
    font-family: 'Montserrat', sans-serif;

    padding: 50px 0 0;
    position: relative;
}
.main-timeline:before{
    content: '';
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px #333;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 10vh;
}
.main-timeline .timeline{
    margin: -42px 0 0 0;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before{
    content: '';
    border: 20px solid #FF9B00;
    height: 90%;
    width:50%;
    border-radius: 100px;
    position: absolute;
    left: 12%;
    top: 22px;
    z-index: -1;
}
.main-timeline .timeline-content{
    background-color: #fff;
    text-align: center;
    width: 60%;
    padding: 10px 15px 60px;
    margin: 0 auto;
    display: block;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #FF9B00;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}
.timeline__logo{
    width: 80px;
    margin-bottom: 5vh;
}
.main-timeline .title{
    color: #FF9B00;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.main-timeline .title:after{
    content: '';
    background-color: #FF9B00;
    height: 3px;
    width: 60px;
    margin: 12px auto;
    display: block;
}
.main-timeline .description{
    color: green;
    font-size: 15px;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.336);
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(even):before{
    left: auto;
    right: 12%;
}
@media only screen and (max-width:990px){
    .main-timeline .timeline:before{
        left: 5%;
        border-radius: 120px;
    }
    .main-timeline .timeline:nth-child(even):before{ right: 5%; }
}
@media only screen and (max-width:576px){
    .main-timeline:before{ width: 85%; }
    .main-timeline .timeline{ margin: -38px 0 0 0; }
    .main-timeline .timeline:before{
        border-width: 8px;
        border-radius: 0;
        left: 0;
    }
    .main-timeline .timeline:nth-child(even):before{ right: 0; }
    .main-timeline .timeline-content{ width: 85%; }
    .main-timeline .title{ font-size: 18px; }
}

/* ------------------------ NOSOTROS ---- TABLET -----------------------*/
@media screen and (min-width:768px) and (max-width: 1024px) {
    .main-timeline .description{
        font-size: 17px;
    }
    .timeline__logo{
        width: 100px;
        margin-bottom: 5vh;
    }
}
/* -- NOSOTROS - DESKTOP -- */
@media screen and (min-width: 1024px){
    .main-timeline .description{
        font-size: 19px;
    }
    .timeline__logo{
        width: 110px;
        margin-bottom: 5vh;
    }
}

/*PRODUCTOS mobile*/
.productos__button--Ncarrito{
    margin-left: 37vh;
    box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.295);
    margin-bottom: 2vh;
    font-size: 15px;
    background-color: #FF8921;
    border-color: aliceblue;
}
.productos__carrito--notificacion{
    width: 16px;
}
.productos__button--pointer{
    margin-bottom: 2vh;
    background-color: #FF8921;
    border-color: aliceblue;
}
.productos__title{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: 35px;
    margin-right: 3vh;
    margin-left: 3vh;
}
.pulse
{
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
}
@keyframes pulse
{
    0%
    {
        transform: none;
    }
    50%
    {
        transform: scale(1.15);
    }
    100%
    {
        transform: scale(1);
    }
}
@-webkit-keyframes pulse
{
    0%
    {
        -webkit-transform: none;
    }
    50%
    {
        -webkit-transform: scale(1.15);
    }
    100%
    {
        -webkit-transform: scale(1);
    }
}
/* ------------------------ PRODUCTOS ---- TABLET -----------------------*/
@media screen and (min-width:768px) and (max-width: 1024px) {
    .productos__title{
        font-size: 60px;
    }
    .productos__button--Ncarrito{
        margin-left: 63vh;
        font-size: 15px;
    }
}
/* ------------ PRODUCTOS - DESKTOP ------------------ */
@media screen and (min-width: 1024px){
    .productos__button--Ncarrito{
        margin-left: 142vh;
        font-size: 18px;
        width: 140px;
    }
    .productos__title{
        font-size: 58px;
    }
}
/* ------------------------ PRODUCTOS ---- DESKTOP -más grande-----------------------*/
@media screen and (min-width:1750px) {
    .productos__button--Ncarrito{
        width: 120px;
        margin-left: 142vh;
        font-size: 18px;
    }
}
/* ------------------------ PRODUCTOS---- DESKTOP -más grande-----------------------*/
@media screen and (min-width:1850px) {
    .productos__button--Ncarrito{
        margin-left: 246vh;
        font-size: 18px;
        width: 148px;
    }
}

/*EVENTOS - MOBILE*/
    .eventos__title{
        font-family: 'Cinzel Decorative', cursive;
        color: #1D7151;
        text-shadow: 1px 1px 5px white;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 30px;
        margin-right: 2vh;
        margin-left: 2vh;
    }
    .eventos__info{
        font-size: 18px;
        color: #1D7151;
        text-shadow: 1px 1px 3px white;
    }
    .eventos__container {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 70vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
    }
    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .25s;
    }
    .box > span {
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        background-color: rgba(255, 255, 255, 0.096);
    }
    .box:hover { flex: 1 1 50%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
        
    }
    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(200px, 0.8fr));
        grid-gap: 10px;
        align-items: stretch;
        margin-top: 8vh;
        margin-bottom: 8vh;
        background-color: white;
    }
    .eventos__grid > article {
        border: 1px solid rgba(255, 255, 255, 0.534);
        box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);}
    .eventos__grid > article:hover {
        background-color:rgba(0, 0, 0, 0.068);}
    .eventos__grid .text {
        padding: 20px;
        text-align: center;}
    .eventos__grid .eventos__text h3 {
        font-family: 'Montserrat', sans-serif;
        color: #1D7151;
        font-size: 17px;
        margin-right: 5vh;
        margin-left: 2vh;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
    .eventos__grid .eventos__text h4{
        font-family: 'Montserrat', sans-serif;
        color: #1D7151;
        font-size: 15px;
        margin-right: 5vh;
        margin-left: 2vh;
    }
    .eventos__grid .eventos__button{
        margin-bottom: 10vh;
        margin-left: 16vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #1D7151;
    }
    .promocion__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        align-items: stretch;
        margin-top: 8vh;
        margin-bottom: 8vh;
        background-image: url(../img/promocion.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .promocion__grid > article {
        border: 1px solid rgba(255, 255, 255, 0.534);
        box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);}
    .promocion__grid > article:hover {
        background-color:rgba(0, 0, 0, 0.116);}
    .promocion__grid .promocion__text {
        padding: 20px;
        text-align: center;}
    .promocion__grid .promocion__text h3 {
        font-family: 'Montserrat', sans-serif;
        color:white;
        font-size: 18px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
        font-weight: bold;
        margin-bottom: 10vh;
    }
    .promocion__grid .promocion__button{
        margin-bottom: 2vh;
        margin-left: 17vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: #ffa000;
        color: #165e42;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.747);
    }
    .footerEvento__icon--media{
        margin-left: 11vh;
    }
    /* ------------------------ EVENTOS ---- TABLET -----------------------*/
    @media screen and (min-width:768px) and (max-width: 1024px) {
        .eventos__title{
            font-size: 42px;
            margin-right: 2vh;
            margin-left: 2vh;
        }
        .eventos__info{
            font-size: 22px;
        }
        .eventos__container {
            height: 80vh;
        }
        .eventos__grid {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(200px, 0.8fr));
            margin-top: 10vh;
            margin-bottom: 10vh;
        }
        .eventos__grid .eventos__text h3 {
            font-size: 25px;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
        .eventos__grid .eventos__text h4{
            font-size: 18px;
        }
        .eventos__grid .eventos__button{
            margin-bottom: 10vh;
            margin-left: 49vh;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #1D7151;
        }
        .promocion__grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
            margin-top: 8vh;
            margin-bottom: 8vh;
        }
        .promocion__grid .promocion__text h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            margin-top: 5vh;
        }
        .promocion__grid .promocion__label{
            margin-top: 5vh;
            margin-left: 7vh;
        }
        .promocion__grid .promocion__button{
            font-size: 18px;
            margin-top: 7vh;
            margin-left: 7vh;
        }
        .footerEvento__icon--media{
            margin-left: 24vh;
            margin-top: 5vh;
        }
    }
    /* ------------------ EVENTOS - DESKTOP ---------------------- */
    @media screen and (min-width: 1024px){
        .eventos__title{
            font-size: 60px;
        }
        .eventos__info{
            font-size: 25px;
            text-shadow: 1px 1px 2px white;
        }
        .eventos__container {
            height: 100vh;
        }
        .eventos__grid {
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(250px, 0.8fr));
            margin-top: 15vh;
            margin-bottom: 15vh;
        }
        .eventos__grid .eventos__text h3 {
            font-size: 28px;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
        .eventos__grid .eventos__text h4{
            font-size: 20px;
        }
        .eventos__grid .eventos__button{
            margin-top: 3vh;
            margin-left: 41vh;
            font-family: 'Montserrat', sans-serif;
            text-shadow: 1px 1px 2px white;
            font-size: 20px;
            font-weight: bold;
            color: #1D7151;
            width: 300px;
        }
        .promocion__grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(700px, 1fr));
            margin-top: 8vh;
            margin-bottom: 8vh;
        }
        .promocion__grid .promocion__text h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            margin-top: 5vh;
            margin-right: 5vh;
            margin-left:9vh;
        }
        .promocion__grid .promocion__label{
            margin-top: 35vh;
            margin-left: 17vh;
        }
        .promocion__grid .promocion__button{
            font-size: 25px;
            margin-top: 36vh;
            margin-left: 7vh;
        }
        /* FOOTER */
        .footerEvento__icon--media{
            margin-left: 51vh;
            margin-top: 5vh;
        }
    }
    /* ------------------------ EVENTOS---- DESKTOP -más grande-----------------------*/
    @media screen and (min-width:1850px) {
    .eventos__grid .eventos__button{
        margin-top: 3vh;
        margin-left: 72vh;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 2px white;
        font-size: 20px;
        font-weight: bold;
        color: #1D7151;
        width: 300px;
    }
    .eventos__grid .eventos__text h3 {
        font-size: 27px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .eventos__grid .eventos__text h4{
        font-size: 23px;
    }}

    /* CONTACTO - MOBILE*/
    .container__titulo{
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 35px;
        margin-right: 2vh;
        margin-left: 2vh;
    }
    .container--font{
        color:green;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: bold;
        text-shadow: 1px 1px 2px white;
    }
    .container__button{
        font-size: 15px;
        font-weight: bold;
        width: 400px;
        margin-bottom: 5vh;
    }
    .container__titulo--individual{
        margin-top: 5vh;
        margin-bottom: 3vh;
        font-size: 35px;
        text-shadow: 1px 1px 2px white;
    }
    .form__container{
        width: 90%;
        margin-left: 3vh;
    }
    .contacto__icon{
        width: 21px;
    }
    .contacto__tarjetas{
        width: 42px;
    }
    input{
        background: #ecf0f3;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 14px;
        border-radius: 58px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    select{
        background: #ecf0f3;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 10px;
        border-radius: 58px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    /* -- CONTACTO - TABLET -- */
    @media screen and (min-width:768px) and (max-width: 1024px) {
        .container__titulo{
            font-size: 55px;
        }
        .container--font{
            font-size: 19px;
        }
        .container__button{
            font-size: 20px;
            width: 1000px;
        }
        .form__container{
            width: 100%;
            margin-left: 0vh;
        }
    }
    /* -- CONTACTO - DESKTOP -- */
    @media screen and (min-width: 1024px){
        .container__titulo{
            font-size: 60px;
        }
        .container--font{
            font-size: 20px;
        }
        .container__button{
            font-size: 20px;
            width: 2000px;
        }
        .form__container{
            width: 100%;
            margin-left: 0vh;
        }
    }